<!doctype html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>     <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]>    <html class="no-js" lang="en"> <![endif]-->
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://s3.amazonaws.com/static.texastribune.org/common/images/favicon.ico">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="The Texas Tribune"/>
  <meta name="copyright" content="&copy; The Texas Tribune"/>
  <meta name="language" content="EN"/>
  <meta name="audience" content="All"/>
  <meta name="publisher" content="The Texas Tribune"/>
  <meta name="distribution" content="global"/>
  <meta name="robots" content="index,follow"/>
  <meta name="siteinfo" content="robots.txt"/>
  <meta name="description" content="">
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:description" content="">
  <meta property="og:title" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/app.css">
  <link rel="stylesheet" type="text/css" href="new-limits-more-money/style.css">
  <!-- endbuild -->
</head>
<body ontouchstart="">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<div class="container">
  <header class="masthead">
    <div class="branding">
      <a href="http://www.texastribune.org/">
        <img class="trib-logo" alt="The Texas Tribune" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-logo-white500x55.png">
      </a>
    </div>
  </header>
  <div class="banner-wrapper">
    <div class="banner">
      <div class="grand-header-image"></div>
      <header class="grand-header content-block">
<!--         <h1>Title</h1>
        <h2>Subtitle</h2> -->
      </header>
    </div>
  </div>
  <!-- Main body -->
  <div class="story-wrapper">
    <!-- Story Body -->
    <div class="story-container">
      <h1>It’s Been Real, Texas, But Brandi’s Gotta Run</h1>
      <h2>After emptying all of Texas’ prisons, Grissom will try her hand in California.</h2>
      <p class="byline">By <a href="http://www.texastribune.org/about/staff/brandi-grissom/">Brandi Grissom</a> | FOREVER</p>
      <div class="prose">
        <!-- "prose" sets 8-column width on desktop -->
        <div class="shareline">
          <h3>SHARELINES</h3>
          <ul>
            <li>
              <a href="https://twitter.com/home?status=" title="share on Twitter" class="social-share" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
              <a href="http://www.facebook.com/sharer.php?u=" title="share on Facebook" class="social-share" target="_blank">
              <i class="fa fa-facebook"></i>
              </a>
              
        <p>      </p>
            </li>
            <li>
              <a href="https://twitter.com/home?status=" title="share on Twitter" class="social-share" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
              <a href="http://www.facebook.com/sharer.php?u=" title="share on Facebook" class="social-share" target="_blank">
              <i class="fa fa-facebook"></i>
              </a>
              
        <p>      </p>
            </li>
          </ul>
        </div>
        <p>Beard jean shorts cray locavore twee bicycle rights mlkshk cornhole, banjo bitters try-hard. Marfa drinking vinegar brunch, small batch seitan normcore organic flannel. VHS banjo master cleanse hashtag aesthetic, asymmetrical organic disrupt deep v Vice actually trust fund jean shorts. Banh mi tofu salvia meh kogi direct trade. Slow-carb selfies lomo try-hard, paleo synth 3 wolf moon semiotics meh cliche small batch plaid. Chia aesthetic cliche hoodie. Polaroid church-key fixie, authentic narwhal aesthetic Kickstarter whatever chillwave VHS High Life.</p>
        <p>Blog gluten-free you probably haven't heard of them salvia farm-to-table, mustache gastropub chambray. Synth Godard keytar gastropub kitsch Schlitz. Roof party quinoa McSweeney's, freegan biodiesel crucifix Carles YOLO seitan forage Thundercats master cleanse Godard organic literally. Bushwick aesthetic salvia, gentrify yr stumptown Echo Park distillery craft beer Odd Future. Carles 8-bit fingerstache irony, American Apparel gentrify craft beer disrupt Intelligentsia sriracha hella meggings readymade hashtag. Umami bitters squid normcore, Marfa keytar meh blog kale chips authentic semiotics. Pug plaid locavore, tofu McSweeney's fingerstache semiotics.</p>
        <p>Banjo scenester raw denim, shabby chic PBR Banksy fingerstache you probably haven't heard of them gastropub flexitarian butcher cray brunch authentic. Craft beer squid cred High Life before they sold out, cardigan blog jean shorts chillwave locavore. Direct trade stumptown roof party, cray fashion axe biodiesel 90's typewriter authentic drinking vinegar Brooklyn master cleanse forage. Helvetica chia Carles, mlkshk occupy Godard irony. Portland Bushwick ugh vinyl ethical, pork belly bicycle rights. Tumblr XOXO pickled, +1 wayfarers brunch wolf. Asymmetrical ugh drinking vinegar Marfa pour-over American Apparel, sartorial Tonx XOXO Bushwick Schlitz narwhal Neutra art party.</p>
        <p>Godard Tumblr readymade art party put a bird on it occupy Portland, gluten-free narwhal Kickstarter. Narwhal butcher leggings tote bag craft beer, DIY small batch artisan flexitarian Tumblr viral Williamsburg. Retro pork belly Intelligentsia ethical mustache, whatever tattooed. Tumblr farm-to-table mixtape, flexitarian readymade cornhole craft beer gastropub Neutra swag mumblecore meggings street art Portland seitan. Pickled cray lomo, Blue Bottle slow-carb jean shorts hella. Lomo kitsch next level flannel, ethnic irony Portland Marfa. Vegan McSweeney's mixtape banjo, pug DIY swag Schlitz quinoa sartorial locavore bitters messenger bag pork belly church-key.</p>
        </div>
        <div class="media">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <img src="images/TTF2013-JuvenileJustice033.jpg" />
              </li>
              <li>
                <img src="images/TXThhSX-Richmond009.jpg" />
              </li>
              <li>
                <img src="images/TXThhSX-Richmond056.jpg" />
              </li>
              <li>
                <img src="images/TXTRIB-Fall-HappyHour13.jpg" />
              </li>
            </ul>
          </div>
        </div>
        <div class="prose">
        <p>Retro shabby chic Banksy Helvetica kogi street art raw denim fap fixie. Chambray Marfa cred kitsch. Banjo Intelligentsia wolf, trust fund skateboard Odd Future Thundercats Blue Bottle salvia locavore single-origin coffee art party Pitchfork Williamsburg Echo Park. Blog vinyl put a bird on it Neutra, PBR&B pickled gentrify ethical next level Portland irony Echo Park 8-bit cliche. Fixie tofu photo booth narwhal, viral church-key 90's Thundercats artisan master cleanse brunch fap wolf Carles biodiesel. Tousled Pitchfork sustainable, cliche Kickstarter brunch normcore Helvetica polaroid. Thundercats Banksy authentic yr, farm-to-table Odd Future art party church-key chillwave DIY.</p>
        <p>Kitsch meggings Helvetica +1 literally Tumblr hella sustainable quinoa. Pop-up VHS locavore, put a bird on it ethical ugh Austin polaroid disrupt readymade gastropub Kickstarter banjo. Drinking vinegar meggings authentic forage irony, keffiyeh mixtape Etsy biodiesel gentrify. Wolf PBR&B chia, twee High Life Etsy sustainable gastropub DIY biodiesel keffiyeh four loko church-key ugh hashtag. Flannel aesthetic literally, trust fund Portland Bushwick ennui plaid Thundercats lomo paleo chia Godard you probably haven't heard of them. Selfies banjo tousled blog butcher. Forage readymade Cosby sweater, McSweeney's tattooed Pinterest Williamsburg wayfarers four loko Wes Anderson banh mi church-key Pitchfork.</p>
        <p>Pinterest brunch salvia, messenger bag sriracha polaroid sartorial tote bag pug cornhole blog. Tumblr sustainable Echo Park hashtag. Disrupt church-key PBR scenester, put a bird on it tattooed literally irony chillwave locavore flexitarian mlkshk fingerstache synth. Brunch Carles Odd Future, Kickstarter PBR polaroid Neutra lo-fi shabby chic pour-over locavore vegan authentic. Intelligentsia Marfa +1 Tonx, trust fund DIY Cosby sweater PBR&B before they sold out. 90's pour-over kogi Marfa, art party VHS ethnic locavore PBR&B selvage High Life shabby chic fap. Farm-to-table fixie polaroid cornhole irony selfies, ethnic church-key tofu.</p>
        <p>Viral seitan umami fap fashion axe freegan. Small batch mumblecore Truffaut normcore Brooklyn vinyl. Mumblecore beard salvia fixie, craft beer gentrify raw denim. XOXO leggings Cosby sweater 8-bit lomo swag, crucifix Wes Anderson +1. Odd Future Carles leggings, iPhone selfies twee mustache mixtape pop-up quinoa pour-over. Gluten-free tote bag leggings, viral drinking vinegar chia farm-to-table craft beer hoodie Shoreditch yr ethnic swag fap. Swag plaid mixtape butcher.</p>
        <p>Scenester flannel pickled food truck chillwave YOLO XOXO salvia sustainable. Roof party pour-over Austin post-ironic Tumblr. Church-key YOLO slow-carb, salvia ethical Godard raw denim deep v Thundercats food truck leggings Intelligentsia try-hard bitters letterpress. Quinoa readymade brunch McSweeney's, farm-to-table Pitchfork Portland. Art party chambray narwhal, Shoreditch DIY distillery flexitarian next level wolf normcore cray ennui hoodie brunch street art. Quinoa next level selvage, iPhone leggings American Apparel disrupt retro plaid bespoke narwhal. Intelligentsia tattooed Tonx 8-bit mumblecore trust fund fashion axe plaid, craft beer post-ironic paleo occupy Pitchfork.</p>
        <p>Pickled brunch iPhone crucifix, shabby chic craft beer fashion axe deep v occupy lo-fi Pitchfork. Art party McSweeney's before they sold out, photo booth skateboard dreamcatcher messenger bag gastropub 90's Tonx Vice. Try-hard iPhone 8-bit, gentrify dreamcatcher tote bag Pinterest vinyl sriracha flexitarian cliche. Truffaut forage Williamsburg selvage, sartorial tofu McSweeney's wayfarers kogi hashtag blog swag. Intelligentsia next level put a bird on it XOXO church-key. Pour-over Schlitz ethnic seitan chillwave, Truffaut PBR&B normcore DIY American Apparel. Next level mustache art party, iPhone Banksy Odd Future ethnic 90's tattooed seitan distillery dreamcatcher Carles Tonx polaroid.</p>
      </div>
      <!-- Media: Small block quote LEFT; Big block image RIGHT -->
      <div class="media">
        <!-- Block Quote -->
        <div class="small-block block-text">
          <h2>&ldquo;A woman shouldn&rsquo;t have to sort through the different program requirements to figure out which one might work for her.&rdquo;</h2>
          <p>&mdash; Stephanie Goodman, Health and Human Services Commission spokeswoman</p>
        </div>
        <!-- Image -->
        <div class="big-block">
          <img src="http://apps.texastribune.org/politics-of-prevention/images/Prevention-short-6.jpg" alt="Medical staff check on patients at the People's Community Clinic in Austin, which provides state-subsidized women's health services to low-income women, on July 15, 2014. Photo by Callie Richmond.">
          <p class="caption">Medical staff check on patients at the People's Community Clinic in Austin, which provides state-subsidized women's health services to low-income women, on July 15, 2014. Photo by Callie Richmond.</p>
        </div>
      </div>
      <div class="prose">
 
      </div>
      <div class="media">
        <!-- Image -->
          <img src="http://apps.texastribune.org/politics-of-prevention/images/Prevention-wide-7.jpg" alt="Patients wait to be seen at the People's Community Clinic in Austin, which provides state-subsidized women's health services to low-income women, on July 15, 2014. Photo by Callie Richmond.">
          <p class="caption">Patients wait to be seen at the People's Community Clinic in Austin, which provides state-subsidized women's health services to low-income women, on July 15, 2014. Photo by Callie Richmond.</p>
      </div>
      <div class="prose">
 
                      <!-- Full-size block quote -->
        <div class="block-text">
          <h2>&ldquo;It&rsquo;s going to take a tremendous amount of time, a tremendous amount of infrastructure building and resources that I don&rsquo;t think the state had thought about when they dismantled these programs.&rdquo;</h2>
          <p>&mdash; Yvonne Gutierrez, executive director of Planned Parenthood Texas Votes</p>
        </div>
 
      </div>
      <div class="about">
          <h3>ABOUT</h3>
          <p class="about-desc">Heyo!</p>
          <h3>Contributors</h3>
          <ul>
            <li>
              <p><strong><a href="mailto:baaronson@texastribune.org">Becca Aaronson</a></strong></p>
              <p class="handle">Reporter, News Apps Developer | <a href="https://twitter.com/becca_aa" target="_blank">@becca_aa</a></p>
            </li>
            <li>
              <p><strong><a href="mailto:rmurphy@texastribune.org">Ryan Murphy</a></strong></p>
              <p class="handle">News Apps Team Lead | <a href="https://twitter.com/rdmurphy" target="_blank">@rdmurphy</a></p>
            </li>
            <li>
              <p><strong><a href="mailto:aura@texastribune.org">Alexa Ura</a></strong></p>
              <p class="handle">Reporter | <a href="https://twitter.com/alexazura" target="_blank">@alexazura</a></p>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-container">
  <div>
    <a href="https://twitter.com/newsapps"><img class="logo" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-NewsApps-yellow.svg" alt="Texas Tribune News Apps logo, links to News Apps' Twitter account"></a>
  </div>
  <div>
    <ul>
      <li><a href="http://www.facebook.com/texastribune"><i class="icon fa-facebook-square"></i>Facebook</a></li>
      <li><a href="http://twitter.com/TexasTribune"><i class="icon fa-twitter-square"></i>Twitter</a></li>
      <li><a href="http://www.youtube.com/user/thetexastribune"><i class="icon fa-youtube-play"></i>YouTube</a></li>
      <li><a href="http://instagram.com/texas_tribune"><i class="icon fa-instagram"></i>Instagram</a></li>
      <li><a href="http://www.linkedin.com/company/texas-tribune"><i class="icon fa-linkedin-square"></i>LinkedIn</a></li>
    </ul>
  </div>
  <div class="internal-links">
    <ul>
    <li><a href="http://www.texastribune.org/about/">About Us</a></li>
    <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
    <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
    <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
    <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
    <li><a href="http://www.texastribune.org/corrections/">Corrections</a></li>
    <li><a href="https://www.texastribune.org/join/">Donate</a></li>
  </ul>
  </div>
  <div class="donate">
    <ul>
      <li>Nonpartisan.</li>
      <li>Nonprofit.</li>
      <li>Statewide.</li>
      <a href="https://www.texastribune.org/join/"><li>Join Us</li></a>
    </ul>
  </div>
  </div>
</footer>
<script type="text/template" id="popup-template">
  <div class="popup-container">
    <header class="popup-name">
      <h1>Providers: <%= PNTCNT %></h1>
    </header>
  </div>
</script>
<script type="text/template" id='table-template'>
<% _.each(items,function(model){ %>
    <tr>
      <td><strong>Enrollment</strong></td><td><%= model.Enrollment %></td>
    </tr>
    <tr>
      <td><strong>Annual funding</strong></td><td><%= model.Funding %></td>
    </tr>
    <tr>
      <td><strong>Eligibility requirements</strong></td><td><%= model.Eligibility %></td>
    </tr>
    <tr>
      <td><strong>Types of covered services</strong></td><td><%= model.Services %></td>
    </tr>
<% }); %>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- build:js scripts/main.js -->
<script src="../bower_components/modernizr/modernizr.js"></script>
<script src="scripts/jquery.flexslider.js"></script>
<script src="scripts/jquery.fitvids.js"></script>
<script src="scripts/script.js"></script>
<!-- endbuild -->
</body>
</html>